<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/s2.css">
</head>
<body>
    <nav id="abc">
    <div id="form1">
    <form action="/user/register" method="post">
        <center><h2>Register</h2></center>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="pd">Password:</label>
        <input type="password" id="pd" name="password" required><br><br>
        <label for="cp">Confirm Password:</label>
        <input type="password" id="cp" name="confirm_password" required><br><br>
        <button type="submit">Register</button>
        </form>
        </nav>
        </div>

</body>
</html>