<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/s6.css">
</head>
<body>
    <h2 id="er"><center>User List</center></h2>
    <br>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for l in users %}
            <tr>
                <td>{{ l.name }}</td>
                <td>{{ l.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer>
    <a id="ll" href="/adashboard/profile" >Back to Dashboard</a></footer>
</body>
</html>