<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/s7.css">
</head>
<body>
    <center><h1>View Profile</h1></center>
    <div id="pp">
    <form action="/adashboard/update" method="post">
    <label for="email">Email: <span>{{ user.email }}</span></label><br><br>
    <label id="po" for="name">Name: <span>{{ user.name }}</span></label><br><br>
    <button type="submit">Update</button>
    <a href="/adashboard/profile" style="display:inline-block; background-color: rgb(34,45,50); color:white; padding:7px; text-decoration:none;">Back</a>
</form>
    </div>
</body>
</html>